<div class = "comment-box">
<p class = "says"><%=comment.user.email%> says:</p>
<p class = "comment-body"><%=comment.body%></p>
<p class = "text-right comment-time">writen by <%=l comment.created_at, format: :short%><p>
</div>