
div.post-form{
	margin-left: 50px;
   
    box-shadow: 10px 10px 5px #888888;
	background-color: #95a5a6;

	
	border-radius: 10px;
	

}


.new-post{
	margin: 50px;
	margin-bottom:100px;

}


h3.statistics{
	
}

.post-title{
	font-family: 'Allerta', sans-serif;
	font-size: 0.1em;
}
.welcome-text{
	font-family: 'Allerta', sans-serif;
}
.religion-name{
	font-family: 'Marcellus SC', serif;
	font-size: 1.5em;
}

.tag{
	font-size:1.7em;
}


ul.icon-list{
	overflow:hidden;
	list-style-type: none;
}
li.icon{
	float:left;
}
div.statistics{
	margin:20px;
}

div.box{
	margin:10px;
}


.comment-box{

	box-shadow: 10px 10px 5px #888888;
	background-color: #95a5a6;
	margin-top:5px;
	margin-left: 20px;
	border-radius: 10px;
	width: 600px;
}
p.comment-time{
	padding-right:10px;
}
p.comment-body{
	margin-left:20px;
}

div.box{
	background-color: #2ECC71;
	border-radius: 20px;
	
	
	box-shadow: 10px 10px 5px #888888;
	}

.post-title{
	font-size: 2.5em;

}

hr.divider{
	height:5px;
	color: #000;
}

i{
	font-size:2.5em;
	padding-right:5px;
}

div.post-body{
	background-color: rgb(46,204,113);
	border-radius: 20px;
	margin:20px;

 }

.post-title{
	padding-left:10px;
}

#masonry-container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px;}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}



.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #ED6347; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #C12B05;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

